<div id="page_content">
    <div id="page_content_inner">
        <h3 class="heading_b uk-margin-bottom">Contact List</h3>

        <div class="md-card uk-margin-medium-bottom">
            <div class="md-card-content">
                <div class="uk-grid" data-uk-grid-margin>
                    <div class="uk-width-medium-1-2">
                        <div class="uk-vertical-align">
                            <div class="uk-vertical-align-middle">
                                <ul id="contact_list_filter" class="uk-subnav uk-subnav-pill uk-margin-remove">
                                    <li class="uk-active" data-uk-filter=""><a href="">Tous les utilisateurs</a></li>
                                    <li ng-repeat="role in roles" data-uk-filter="{{role}}">
                                        <a href="#">{{role}}</a>
                                    </li>
                                    <li class="uk-active" ng-repeat="s in status" data-uk-filter="{{s}}">
                                        <a href="#" ng-if="s == 'enabled'">Activé</a>
                                        <a href="#" ng-if="s == 'disabled'">Désactivé</a>
                                    </li>
                                    <li>
                                        <select kendo-drop-down-list class="uk-active" style="width: 146px;">
                                            <option disabled="disabled" selected="selected">Trier par agence</option>
                                            <option ng-repeat="agency in agencies" data-uk-filter="{{agency.agency.id}}">{{agency.agency.name}}</option>
                                        </select>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-medium-1-2">
                        <label for="contact_list_search">Trouver un utilisateur</label>
                        <input class="md-input" type="text" id="contact_list_search" ng-model="q" md-input />
                    </div>
                </div>
            </div>
        </div>

        <div class="uk-grid-width-small-1-2 uk-grid-width-medium-1-3 uk-grid-width-large-1-4 uk-grid-width-xlarge-1-5 hierarchical_show" id="contact_list" hierarchical-show>
            <div ng-repeat="user in contact_list | filter : q" data-uk-filter="{{user.status}}{{user.agency}}" on-last-repeat >
                <div class="md-card md-card-hover">
                    <div class="md-card-head" ng-class="{'md-bg-cyan-600' : user.isEnabled == 1 , 'md-bg-cyan-200' : user.isEnabled == 0}">
                        <div class="md-card-head-menu" data-uk-dropdown="{pos:'bottom-right'}">
                            <i class="md-icon material-icons" ng-class="'md-icon-light'" ng-if="user.isAdmin == 0">&#xE5D4;</i>
                            <div class="uk-dropdown uk-dropdown-small">
                                <ul class="uk-nav">
                                    <li><a href="" ui-sref="restricted.users.contact_details({ id : user.id})">Détails</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="uk-text-center">
                            <img class="md-card-head-avatar" alt="" ui-sref="restricted.users.contact_details({ id : user.id})"/>
                        </div>
                        <h3 class="md-card-head-text uk-text-center" ng-class="'md-color-white'">
                            {{user.firstName}}
                            <!--<span class="uk-text-truncate" ng-if="user.status =='banned'">{{user.status}}</span>-->
                        </h3>
                    </div>
                    <div class="md-card-content">
                        <ul class="md-list">
                            <li>
                                <div class="md-list-content">
                                    <span class="md-list-heading">Nom</span>
                                    <span class="uk-text-small uk-text-muted">{{user.lastName}}</span>
                                </div>
                            </li>
                            <li>
                                <div class="md-list-content">
                                    <span class="md-list-heading">Email</span>
                                    <span class="uk-text-small uk-text-muted uk-text-truncate">{{user.email}}</span>
                                </div>
                            </li>
                            <li>
                                <div class="md-list-content">
                                    <span class="md-list-heading">Téléphone</span>
                                    <span class="uk-text-small uk-text-muted">{{user.phoneNumber}}</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="md-fab-wrapper">
    <a class="md-fab md-fab-accent" href="#">
        <i class="material-icons">&#xE145;</i>
    </a>
</div>