<div id="page_content">
    <div id="page_content_inner">

        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-medium-1-2">
                <div class="md-card">
                    <div class="md-card-content">
                        <h3 class="heading_a uk-margin-bottom">Etat général</h3>
                        <div class="uk-accordion" data-uk-accordion>
                            <h3 class="uk-accordion-title">propreté</h3>
                            <div class="uk-accordion-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                <p style="float: right;"><span>Note : 4.5 | </span><i class="material-icons">star_rate</i><i class="material-icons">star_rate</i>
                                    <i class="material-icons">star_rate</i><i class="material-icons">star_rate</i>
                                    <i class="material-icons">star_half</i><i class="material-icons">star_border</i></p>
                            </div>
                            <h3 class="uk-accordion-title">accessibilité</h3>
                            <div class="uk-accordion-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                <p style="float: right;"><span>Note : 4.5 | </span><i class="material-icons">star_rate</i><i class="material-icons">star_rate</i>
                                    <i class="material-icons">star_rate</i><i class="material-icons">star_rate</i>
                                    <i class="material-icons">star_half</i><i class="material-icons">star_border</i></p>
                            </div>
                            <h3 class="uk-accordion-title">convivialité</h3>
                            <div class="uk-accordion-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                <p style="float: right;"><span>Note : 4.5 | </span><i class="material-icons">star_rate</i><i class="material-icons">star_rate</i>
                                    <i class="material-icons">star_rate</i><i class="material-icons">star_rate</i>
                                    <i class="material-icons">star_half</i><i class="material-icons">star_border</i></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="md-card">
                    <div class="md-card-content">
                        <h3 class="heading_a uk-margin-bottom">Comportement</h3>
                        <div class="uk-accordion" data-uk-accordion>
                            <h3 class="uk-accordion-title uk-accordion-title-primary">responsables</h3>
                            <div class="uk-accordion-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                <p style="float: right;"><span>Note : 4.5 | </span><i class="material-icons">star_rate</i><i class="material-icons">star_rate</i>
                                    <i class="material-icons">star_rate</i><i class="material-icons">star_rate</i>
                                    <i class="material-icons">star_half</i><i class="material-icons">star_border</i></p>
                            </div>
                            <h3 class="uk-accordion-title uk-accordion-title-success">agents</h3>
                            <div class="uk-accordion-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                <p style="float: right;"><span>Note : 4.5 | </span><i class="material-icons">star_rate</i><i class="material-icons">star_rate</i>
                                    <i class="material-icons">star_rate</i><i class="material-icons">star_rate</i>
                                    <i class="material-icons">star_half</i><i class="material-icons">star_border</i></p>
                            </div>
                            <h3 class="uk-accordion-title uk-accordion-title-warning">autres clients</h3>
                            <div class="uk-accordion-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                <p style="float: right;"><span>Note : 4.5 | </span><i class="material-icons">star_rate</i><i class="material-icons">star_rate</i>
                                    <i class="material-icons">star_rate</i><i class="material-icons">star_rate</i>
                                    <i class="material-icons">star_half</i><i class="material-icons">star_border</i></p>
                            </div>
                            <h3 class="uk-accordion-title uk-accordion-title-danger">sécurité</h3>
                            <div class="uk-accordion-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                <p style="float: right;"><span>Note : 4.5 | </span><i class="material-icons">star_rate</i><i class="material-icons">star_rate</i>
                                    <i class="material-icons">star_rate</i><i class="material-icons">star_rate</i>
                                    <i class="material-icons">star_half</i><i class="material-icons">star_border</i></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-width-medium-1-2">
                <div class="md-card">
                    <div class="md-card-content uk-margin-bottom">
                        <h3 class="heading_a uk-margin-bottom">Disponibilité</h3>
                        <div class="uk-accordion" data-uk-accordion="{ collapse: false }">
                            <h3 class="uk-accordion-title">disponibilité immédiate</h3>
                            <div class="uk-accordion-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                <p style="float: right;"><span>Note : 4.5 | </span><i class="material-icons">star_rate</i><i class="material-icons">star_rate</i>
                                    <i class="material-icons">star_rate</i><i class="material-icons">star_rate</i>
                                    <i class="material-icons">star_half</i><i class="material-icons">star_border</i></p>
                            </div>
                            <h3 class="uk-accordion-title">temps d'attente</h3>
                            <div class="uk-accordion-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                <p style="float: right;"><span>Note : 4.5 | </span><i class="material-icons">star_rate</i><i class="material-icons">star_rate</i>
                                    <i class="material-icons">star_rate</i><i class="material-icons">star_rate</i>
                                    <i class="material-icons">star_half</i><i class="material-icons">star_border</i></p>
                            </div>
                            <h3 class="uk-accordion-title">qualité de l'accueil</h3>
                            <div class="uk-accordion-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                <p style="float: right;"><span>Note : 4.5 | </span><i class="material-icons">star_rate</i><i class="material-icons">star_rate</i>
                                    <i class="material-icons">star_rate</i><i class="material-icons">star_rate</i>
                                    <i class="material-icons">star_half</i><i class="material-icons">star_border</i></p>
                            </div>
                            <h3 class="uk-accordion-title">personnels disponibles</h3>
                            <div class="uk-accordion-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                <p style="float: right;"><span>Note : 4.5 | </span><i class="material-icons">star_rate</i><i class="material-icons">star_rate</i>
                                    <i class="material-icons">star_rate</i><i class="material-icons">star_rate</i>
                                    <i class="material-icons">star_half</i><i class="material-icons">star_border</i></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
